<div id = login>
  <h1> Click one of the following buttons</h1>
  <button id = "log">Pharmacy</button><br>
  <p></p>
  <button id = "log">Doctor</button><br>
  <p></p>
  <button id = "log">Insurance</button>
</div>