@import "bootstrap";

  .jumbotron {
    background-image: asset-url('apothecary-pharmacy-chemist-mortar-and-pestle-39522.jpeg');
    background-size: cover;
    color :#F7F7F7;
    height: 500px;

  }
#login{
  width: 500px;
  margin: 0 auto;
}
.wrapper{
  width: 500px;
  margin: 0 auto;
}
#log{
  background-color: #555555;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 12px;
}
.newpharm{
  margin: 0 auto;
}

